/* Navbar */

nav {
    background-color: #EF4640;
    color: white;

    font-weight: bold;
    height: 30vh;
}

.nav1 {
    height: 20vh !important;
}

nav button{
    position: relative;
    float: left;
}

.bs-logo {
    width: 25vw;
}

.search-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 5vh;
    margin-left: 25px;
    margin-top: 10px;
}

.search-btn {
    flex: 0;
    color: #e84118;
    float: right;
    border-radius: 50%;
    display: flex;
    transition: 0.4s;
    color: white;
    cursor: pointer;
    padding: 0;
}

nav a:hover {
    color: white;
    transition: 1s;
    text-decoration: none;
}

nav a:hover + .search-txt {
    transition: 1s;
    display: block;
}

.search-txt:hover {
    transition: 1s;
    display: block;
}

.search-btn > i {
    font-size: 5vh;
}

.search-txt {
    display: none;
    transition: 0.4s;
}

.sub-search-txt {
    color: white;
    border: 1px white;
    background: none;
    padding: 0 7.5px;
    color: white;
    font-size: 3vh;
    font-weight: bold;
}

.sub-search-txt::placeholder {
    color: white;
    opacity: 1; /* Firefox */
}

.sub-search-txt:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

.sub-search-txt::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

nav span h1 {
    font-size: 7vh;
}

nav button {
    align-self: flex-start;
    justify-self: flex-start;
}

.center {
    margin: auto;
    width: 100%;
    padding: 0;
    text-align: center;
}

/* Navbar */

/* Footer */

footer {
    display: flex;
    justify-content: center;
    color: rgb(235, 228, 228);
    background-color: rgb(31, 29, 29);
    padding: 20px;
    height: 30vh;
}

footer .row{
    width:90vw;
}

.futer {
    display: flex;
}

.futer p{
    margin-bottom: 1%;
}

.futer i{
    margin: 0 1%;
}

footer h2{
    margin: 1rem;;
}

hr {
    color: white;
}

.icons{
    display: flex;
}

.icon-mom h2 {
    float: right;
}

.icons {
    display: flex;
    justify-content: flex-end;
}

.icons i{
    font-size: 50px;
}

.footer-text {
    font-size: 14px;
}

.footer-title {
    font-size: 16px;
    padding-left: 0;
    padding-right: 0;
}

nav .fas {
    line-height: inherit !important;
    padding: 5px 3px 0 3px;
}

footer a {
    margin: 2%;
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: none;
    color: white;
}

.navbar-light .navbar-toggler-icon {
    background-size: 20px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/59/Hamburger_icon_white.svg") !important;
}

.navbar-light .navbar-toggler {
    border-color: #EF4640 !important;
    padding: 0 !important;
}

/* Footer */

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    text-decoration: none;
}

#categories {
    display: none;
    /* padding: 5px; */
}

.right-pos {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/* .form-group {
    width: 100%;
} */

.search-inp {
    font-size: 14px;
    padding: 2px !important;
    width: 100px !important;
    color: white !important;
    border: 1px solid white;
    background: none;
    font-weight: bold;
}

.search-inp::placeholder {
    color: white !important;
    opacity: 1; /* Firefox */
}

.search-bar {
    width: 120px !important;
}

.nav1 .menu-bar {
    display: none;
}

.nav2 h5 {
    text-transform: uppercase;
    font-size: 18px;
}

.nav2 {
    height: 10vh;
    padding: 0 !important;
}

.nav2 .container {
    display: block;
}

@media only screen and (max-width: 600px) {
    .nav1 .menu-bar {
        display: block;
    }

    .nav2 .container {
        display: none;
    }

    .nav2 {
        height: 0;
    }

    .nav1 {
        height: 30vh;
    }

    .nav1 .menu-bar h5 {
        font-size: 10px;
        padding: 5px;
        text-align: right;
        text-transform: uppercase;
    }

    .footer-text {
        font-size: 10px;
    }

    .icons i{
        padding: 3px;
        font-size: 25px;
    }

}

#myBtn {
  display: none;
  position: fixed;
  border-radius: 50%;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  font-size: 25px;
  border: none;
  outline: none;
  background-color: #EF4640;
  color: white;
  cursor: pointer;
  padding: 0 14px;
}

#myBtn:hover {
  background-color: #555;
}
