nav {
    background-color: #EF4640;
    color: white;

    font-weight: bold;
    height: 33vh;
}

nav button{
    position: relative;
    float: left;
}


.search-box {
    position: absolute;
    top: 20%;
    left: 5%;
    transform: translate(-50%, -50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
   }

   .search-box:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
   }

   .search-box:hover > .search-btn {
    background: white;
    color: black;
   }

   .search-btn {
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: white;
    cursor: pointer;
   }

   .search-btn > i {
    font-size: 30px;
   }

   .search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-weight: bold;
   }

nav span h1 {
    font-size: 7vh;
}

nav button {
    align-self: flex-start;
    justify-self: flex-start;
}

/* <!----------------carousel------------------!> */

.carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.carousel-item{
    height: 100%;
}

.carousel-inner {
    width: 100%;
    height: 85vh;
}

/* <!----------------categories------------------!> */

.hidden {
    top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
}

.hidden div{
    width: 40%;
    text-align: end;
    margin-right: 8%;
}

.hidden h1{
    color: #EF4640;
}

.categories {
    padding:0;
    height:50vh;
    display: inline-block;
    position: relative;
}

.categories img {
    width: 100%;
    height: 100%;
    transition: 1s;
}

.categories .hidden {
    color: white;
    text-align: center;
    width: 100%;
    z-index: 1;
    position: absolute;
    opacity: 0;
    transition: 1s;
}

.categories:hover img{
    filter:blur(2px) brightness(38%);
}

.categories:hover .hidden {
    opacity: 1;
}

/* <!----------------about------------------!> */

#about {
    width:90vw;
    text-align: justify;
}

#about h3{
    color: #EF4640;
}

/* <!----------------footer------------------!> */

footer {
    display: flex;
    justify-content: center;
    color: rgb(235, 228, 228);
    background-color: rgb(31, 29, 29);
}

footer .row{
    width:90vw;
}

.futer {
    display: flex;
}

.futer p{
    margin-bottom: 1%;
}

.futer i{
    margin: 0 1%;
}

footer h2{
    margin: 1rem;;
}

hr {
    color: white;
}

.icons{
    display: flex;
}

.icon-mom h2 {
    float: right;
}

.icons {
    display: flex;
    justify-content: flex-end;
}

.icons i{
    margin: 2%;
    font-size: 30px;
}

.hidden {
    visibility:hidden;
}

.categories:hover .hidden {
    top: 30%;
    position: absolute;
    visibility:visible;
}
